# Project exclude paths
/cmake-build-debug/
fichero1
fichero2
fichero2_out.txt
fichero1_out.txt
noOpt.s
Opt.s
assembly/assembly_diff.txt
assembly/noOpt.s
assembly/Opt.s
executables/*
assembly/*
output/*